@import "~react-image-gallery/styles/css/image-gallery.css";
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.image-gallery-slides img {
	height: 75vh;
}

.sc-htpNat {
	z-index: 999;
}

.await {
	height: 100vh;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
